.col-md-12 #site-slogan {
  font-family: 'Comic Sans MS',Cursive;
  font-size: 22px;
  color: #d6ff30;
  text-decoration: line-through;
}

li a {
  background-color: #121012;
  font-family: 'Comic Sans MS',Cursive;
  color: #ffffff;
}

.container .row {
  background-color: #4fdb8c;
}

#page #main-content {
  background-color: #db55db;
}

#block-system-navigation h2 {
  color: #fa1717;
  font-family: 'Comic Sans MS',Cursive;
  text-decoration: none;
  text-align: left;
}

#header-wrapper p {
  font-family: 'Comic Sans MS',Cursive;
}

.form-item label {
  font-family: 'Comic Sans MS',Cursive;
  color: #e314e3;
  font-size: 26px;
}

.form-item .description {
  font-family: 'Comic Sans MS',Cursive;
  color: #ffffff;
}

#content-wrapper h1 {
  font-family: 'Comic Sans MS',Cursive;
  color: #000000;
}

#block-system-main .content {
  font-size: 25px;
  color: #fff421;
}

.submitted span {
  background-color: #000000;
  font-family: 'Comic Sans MS',Cursive;
}

h2 a {
  font-family: 'Comic Sans MS',Cursive;
  color: #ffffff;
  font-size: 44px;
}

.form-item .form-text {
  color: #000000;
}

